@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<style>

    html {
        background: url("https://mobirise.com/extensions/networkm5/company-landing-page/assets/images/pexels-djordje-petrovic-2102416-1920x2880.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

</body>
</html>

