@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/Shared/_Layout1.cshtml";
}



<style>

    html {
        background: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

</style>

<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

</body>
</html>
